<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <h2>总价格：{{countPrice}}</h2>
    <h2>{{countPricejs61}}</h2>
    <h2>{{countPricejs62}}</h2>

<!--    <h2>添加图书</h2>-->
<!--    <p>书id：</p>-->
<!--    <input type="number" v-model="bookid">-->
<!--    <p>书名：</p><input type="text" v-model="bookname">-->
<!--    <p>书价格：</p><input type="number" v-model="bookprice">-->
<!--    <button @click="addBook">添加</button>-->
</div>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            books: [
                {id: 110, name: 'linux', price: 119.0},
                {id: 111, name: 'windows', price: 19.0},
                {id: 112, name: 'mac', price: 11999.0},
                {id: 113, name: 'iphone', price: 119.9},
            ]
        },
        // methods: {
        //     addBook: function () {
        //         let book={id:this.bookid,name:this.bookname,price:this.bookprice}
        //         this.books.push(book)
        //     }
        // },
        computed: {
            countPrice: function () {
                let count = 0
                for (let i = 0; i < this.books.length; i++) {
                    console.log(i + this.books[i].toString())
                    count += this.books[i].price
                }
                return count
            },
            //es6语法
            countPricejs61: function () {
                let count = 0
                for (let i in this.books) {
                    count += this.books[i].price
                }
                return count
            },
            //es6语法
            countPricejs62: function () {
                let count = 0
                for (let book of this.books) {
                    count += book.price
                }
                return count
            }
        }
    })
</script>
</body>
</html>